.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-container-logo {
    display: flex;
    align-self: center;
}

.footer-container-doormat ul,.footer-container-contact ul,.footer-container-social-media ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-container-doormat ul li a,.footer-container-contact ul li a,.footer-container-social-media ul li a {
    text-decoration: none;
    color: black;
}

.footer-container-doormat ul li a:hover,.footer-container-contact ul li a:hover,.footer-container-social-media ul li a:hover {
    background-color: #FBDABB;
}