.reservation-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.reservation-container-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.reservation-container-form-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 5px;
}

.reservation-container-form-grid label {
    text-align: right;
}

.reservation-container-form-grid label:after {
    content: ":";
}

.reservation-container-form button {
    background-color: #F4CE14;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 25px;
    border-radius: 16px;
}

.reservation-container-form button:hover {
    background-color: #FBDABB;
}