.header {
    background-color: #495E57;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    gap: 2rem;
}

.header-container-title {
    display: block;
    margin: 0;
}

.header-container-title h1 {
    color: #F4CE14;
    font-size: 64px;
    margin: 0;
}

.header-container-title h2 {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0;
}

.header-container-content {
    display: flex;
    justify-content: space-evenly;
}

.header-container-content p {
    max-width: 750px;
    color: white;
}

.header-container-content img {
    height: 300px;
    width: 300px;
    border-radius: 16px;
}

.header-container button {
    background-color: #F4CE14;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 16px;
}

.header-container button:hover {
    background-color: #FBDABB;
}